.project-img {
  width: 100px;
  height: 100px;
  background: #fbfbfb;
}

.project-title {
  color: #707070;
  font-weight: 400;
  font-size: 13px;
}

.project-value {
  font-size: 14px !important;
  font-weight: 500;
}

.project-datails__title {
  font-size: 14px !important;
  font-weight: 500;
}
